@page "/"
@using NamesApp.Models;
@inject HttpClient Http;
@inject IJSRuntime Js;
@inject LoginState State;
<PageTitle>Index</PageTitle>
<button @onclick=Logout class="btn btn-danger">Logout</button>
<input class="form-control" @bind=model.Name />
<button @onclick=AddNewPerson class="btn btn-primary">Add</button>
@if (String.IsNullOrEmpty(error) == false)
{
    <div class="alert alert-danger">
        <span>@error</span>
    </div>
}
<table class="table table-hover">
    <tbody>
        @foreach (Person person in personsList)
        {
            <tr>
                <td>@person.Name</td>
                <td>
                    <button class="btn btn-light" @onclick=@(()=> PickName(person.Name))>
                        <i class="oi oi-menu"></i>
                    </button>
                </td>
            </tr>
        }

    </tbody>
</table>
@if(showPopup == true)
{
    <Popup @bind-IsVisible=showPopup Name="@pickedName" />
}

@code {
    [CascadingParameter]
    public MainLayout Layout{ get; set; }
    private Person model = new Person();
    private List<Person> personsList = new List<Person>();
    private string error = string.Empty;
    private bool showPopup = false;
    private string pickedName = string.Empty;
    protected override async Task OnInitializedAsync()
    {
        await LoadPersonsAsync();

    }

    private async Task LoadPersonsAsync()
    {
        var response = await Http.GetAsync("api/values");
        string responseContent = await response.Content.ReadAsStringAsync();
        personsList = System.Text.Json.JsonSerializer.Deserialize<List<Person>>(responseContent);
    }
    private async void AddNewPerson()
    {
        error = "";
        model.Id = personsList.Max(it => it.Id) + 1;
        string json = System.Text.Json.JsonSerializer.Serialize(model);
        StringContent content = new StringContent(json, System.Text.Encoding.UTF8, "application/json");
        var response = await Http.PostAsync("api/values", content);
        if (response.IsSuccessStatusCode == true)
        {

            model = new Person();
            await LoadPersonsAsync();
        }
        else
        {
            error = await response.Content.ReadAsStringAsync();
        }
        StateHasChanged();
    }

    private void PickName(string name)
    {
        pickedName = name;
        showPopup = true;
    }

    private async void Logout()
    {
        State.User = null;
        await Js.InvokeVoidAsync("Functions.clear");
        Layout.Refresh();
    }
}